.calculator {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* width: 320px; */
  margin-top: 20px;
}

.display {
  /* background-color: #222; */
  background-color: #4d873305;
  color: #000;
  padding: 10px;
  font-size: 2em;
  text-align: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.calculator button {
  /* background-color: #f0f0f0; */
  background-color: #fff;
  border: none;
  padding: 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculator button:hover {
  background-color: #e0e0e0;
}

.calculator button:active {
  background-color: #d0d0d0;
}

.calculator button:nth-child(4n) {
  /* background-color: #ff8c00; */
  background-color: #4d873333;
  color: #333333;
}
.cBtn {
  background-color: #4d873333 !important;
  color: #333333;
}
.clearBtn {
  background-color: #4d873333 !important;
  color: #333333;
  border-top-left-radius: 27px !important;
}

/* .calculator button:nth-child(4n):hover {
  background-color: #ff7b00;
} */

.calculatorbutton:nth-child(4n):active {
  background-color: #ff6a00;
}

.calculator button.zero {
  grid-column: span 2;
}
