.loginMainContainer {
  background-image: url("../../Icons/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1036px) {
  .sideImgBox {
    display: none !important;
  }
}
