/* Page.jsx */
.headingBtns {
  text-transform: none !important;
  border-radius: 43px !important;
  opacity: 0px;
  background: #fff !important ;
  color: #4d8733 !important;
  padding: 5px 20px !important;
  font-size: 14px !important;
}

/* .headingBtns:hover {
  background: #4d8733 !important ;
  color: #fff !important;
} */

.isActive {
  text-transform: none !important;
  border-radius: 43px !important;
  opacity: 0px;
  background: #4d8733 !important ;
  color: #fff !important;
  padding: 5px 20px !important;
  font-size: 14px !important;
}

.iconBtns {
  color: #fff !important;
  background: #4d8733 !important;
}

.isActiveIcons {
  background: #fff !important;
  color: #4d8733 !important;
}

/* CreateNewPage.jsx */
.createPageHeading {
  text-align: center !important;
  font-size: 28px !important;
  font-weight: 500 !important;
  color: #333333 !important;
}

.cancelBtn {
  text-transform: none !important;
  color: #4d8733 !important;
  border: 1px solid #4d8733 !important;
  border-radius: 5px !important;
}

.createPageBtn {
  text-transform: none !important;
  background: #4d8733 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.pageNameInput {
  border-radius: 9px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  /* background-color: #4d873305; */
  background-color: #fbfcfd;
  height: 50px;
  padding: 20px;
  margin-top: 10px;
}
.pageNameInput::placeholder {
  font-size: 16px;
  line-height: 24.55px;
  color: #ccc;
}
.pageNameInput:hover {
  border: 1px solid #4d8733 !important;
}

.pageNameInput:focus {
  border: 1px solid #4d8733 !important;
}

.description {
  border-radius: 9px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fbfcfd;
  height: 100px;
  padding: 20px;
  margin-top: 10px;
}

.description::placeholder {
  font-size: 16px;
  line-height: 24.55px;
  color: #ccc;
}
.description:hover {
  border: 1px solid #4d8733 !important;
}

.description:focus {
  border: 1px solid #4d8733 !important;
}

/* ShowAllPageModal.jsx */
.createNewPageBtn {
  width: 100% !important;
  height: 38px !important;
  text-transform: none !important;
  background: #4d8733 !important;
  color: #fff !important;
  border-radius: 5px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  font-size: 16px !important;
}

.searchInput {
  background-color: #fbfcfd;
  border: none;
  outline: none;
  height: 38px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
.searchInput::placeholder {
  color: #acb1c6;
  font-size: 16px;
}

.searchIcon {
  position: absolute !important;
  right: 0;
}

/* AddPasswordModal.jsx */
.passwordInput {
  background-color: #fbfcfd;
  border: 1px solid #ccc;
  outline: none;
  height: 38px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
.passwordInput::placeholder {
  color: #acb1c6;
  font-size: 12px;
}

/* TabButtons.jsx */
.googleSearchInput {
  width: 600px;
  height: 40px;
  padding: 17px 24px 17px 40px;
  gap: 13px;
  border-radius: 12px;
  opacity: 0px;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.googleSearchInput::placeholder {
  color: #79797e99;
  font-size: 16px;
}

.gsearchIcon {
  position: absolute;
  left: 11px;
  top: 8px;
}
.closeIcon {
  position: absolute;
  right: 13px;
  top: 8px;
  cursor: pointer;
}

@media screen and (max-width: 668px) {
  .inputBox {
    width: 90% !important;
  }
  .googleSearchInput {
    width: 100% !important;
  }
}
.hoverShow {
  display: none !important;
  margin-left: 20px !important;
  height: fit-content !important;
  aspect-ratio: 1/1;
  height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
}

.hoverShowparent {
  display: block;
}

.hoverShowparent:hover .hoverShow {
  display: initial !important;
  height: fit-content !important;
}
