.navMainBox {
  width: 100% !important;
  position: sticky !important;
  top: 0;
  z-index: 999;
  padding: 8px 12px !important;
  background-color: #4d8733 !important;
}

.toolName {
  /* font-size: 32px !important; */
  font-size: 22px !important;
  font-weight: 700 !important;
  line-height: 43.65px !important;
  letter-spacing: 0.58px !important;
  color: #ffffff !important;
}

.pageNameBtn {
  color: #ffffff !important;
  text-transform: none !important;
  box-shadow: none !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 31.29px !important;
}
.pageNameBtn:hover {
  background-color: none !important;
}

.addBtn {
  text-transform: none !important;
  box-shadow: none !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 21.82px !important;
  border-radius: 7px !important;
  border: 1px solid #fff !important;
}

.addBtn:hover {
  background-color: none !important;
}

/* AddNewData.jsx */
.text {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24.55px !important;
}
.gridContainer {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  gap: 20px !important;
  height: 400px !important;
  overflow: auto !important;
  scrollbar-width: thin;
}

.group {
  background-color: #ffffff;
  border: 0.59px solid;
  border-color: #e8edf7;
  border-radius: 39.7px;
  height: 52px;
  width: 52px;
  top: -34px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 29px;
  height: 29px;
  object-fit: cover;
}

/* ------------------------- */
.pageInputBox {
  display: none;
  position: absolute;
  right: 10%;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* transform: translateY(-10px); */
  transform: translateX(100%);
}

.pageInputBox.visible {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  right: 10%;
}

.pageSearchInput {
  width: 350px;
  height: 40px;
  padding: 17px 24px 17px 40px;
  gap: 13px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.pageSearchInput::placeholder {
  color: #79797e99;
  font-size: 14px;
}

.pSearchIcon {
  position: absolute;
  left: 11px;
  top: 11px;
}

.pCloseIcon {
  position: absolute;
  right: 13px;
  top: 12px;
  cursor: pointer;
}
