@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* :not(.textEditor * ) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

 li {
  margin: auto -12px ;
}

.SButton {
  background-color: #0000003f !important;
  transition: none !important;
}

.SButton p {
  color: white;
  font-size: 13px;
}

.SButton svg {
  fill: white;
}

.SButton:hover {
  background-color: white !important;
}

.SButton:hover p {
  color: black;
}

.SButton:hover svg {
  fill: black;
}

/* .jodit-wysiwyg {
  cursor: text;
}

.jodit-ui-group {
  cursor: default !important;
}

.jodit-status-bar {
  display: none !important;
}

.jodit-react-container > div > div {
  background-color: beige !important;
} */